{% load staticfiles %}
<html>
    <head>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
	<link rel="stylesheet" href="{% static "css/app_fitsystem.css" %}">
	<link href="http://fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">
    <title>FitSystem</title>
    </head>
    <body>
        <div>
        	{% for student in students %}
			    <div>
			        <p>payment: {{ student.payment_date }}</p>
			        <h1><a href="">{{ student.name }}</a></h1>
			    </div>
			{% endfor %}
        </div>
    </body>
</html>